:root {
  --tLinePrimCol: #ffffff;
  --tLineSecCol: #39c5bb;
}

* {
  font-family: "Noto Sans", "Noto Serif", Arial;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#vnDisp {
  background-color: #000;
}

#vnDisp .backgroundWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  padding: 0.5rem;
}
.backgroundWrap .bg {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  color: red;
  text-align: center;
  font-size: 2.2em;
}
#waveform {
  z-index: 1200;
  width: 100%;
  position: absolute;
  padding: 0.5rem;
}
.my-player-dimensions {
  width: 100%;
  height: 100%;
}
