* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
#vnDisp .backgroundWrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  overflow: hidden;
  padding: 0.5rem;
}
.backgroundWrap .bg {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  color: red;
  text-align: center;
  font-size: 2.2em;
}
#waveform {
  z-index: 1200;
  width: 100%;
  position: absolute;
  padding: 0.5rem;
}
